
/JoinFS/.vs
/JoinFS/FS2020/bin
/JoinFS/FS2020/obj
/JoinFS/FS2024/obj
/JoinFS/XPLANE/obj
/JoinFS/P3DV4/obj
/JoinFS/FS2024/bin
/JoinFS/FS2024/Setup-FS2024/Debug
/JoinFS/obj
/JoinFS/FS2024/Setup-FS2024/Release
/JoinFS/FSX/obj
/JoinFS/bin
/JoinFS/FS2020/Setup-FS2020/Release
/JoinFS/FS2020/Setup-FS2020/Debug
/JoinFS/P3D/bin
/JoinFS/FSX/bin
/JoinFS/P3D/Setup-P3D/Dependencies
/JoinFS/P3D/Setup-P3D/Release
/JoinFS/P3D/Setup-P3D/Release/JoinFS-P3D.msi
/JoinFS/P3D/Setup-P3D/Release/setup.exe
/JoinFS/CONSOLE/bin/Release
/JoinFS/CONSOLE/obj/Debug/net6.0
/JoinFS/CONSOLE/obj/Release/net6.0
/JoinFS/SERVER/obj
/JoinFS-XP/JoinFS-XP64/x64/Release
/JoinFS-XP/.vs
