
*.pfx
*.p12
/JoinFS/.vs
/JoinFS/FS2020/bin
/JoinFS/FS2020/obj
/JoinFS/FS2024/obj
/JoinFS/XPLANE/obj
/JoinFS/P3DV4/obj
/JoinFS/FS2024/bin
/JoinFS/FS2024/Setup-FS2024/Debug
/JoinFS/obj
/JoinFS/FS2024/Setup-FS2024/Release
/JoinFS/FSX/obj
/JoinFS/bin
/JoinFS/FS2020/Setup-FS2020/Release
/JoinFS/FS2020/Setup-FS2020/Debug
/JoinFS/P3D/bin
/JoinFS/FSX/bin
/JoinFS/P3D/Setup-P3D/Dependencies
/JoinFS/P3D/Setup-P3D/Release
/JoinFS/P3D/Setup-P3D/Release/JoinFS-P3D.msi
/JoinFS/P3D/Setup-P3D/Release/setup.exe
/JoinFS/CONSOLE/bin/Release
/JoinFS/CONSOLE/obj/Debug/net6.0
/JoinFS/CONSOLE/obj/Release/net6.0
/JoinFS/SERVER/obj
/JoinFS-XP/JoinFS-XP64/x64/Release
/JoinFS-XP/.vs
/JoinFS/packages
/JoinFS/JoinFS-FS2024/FS2024/bin/x64/Debug
/JoinFS/JoinFS-FS2024/obj/x64/Debug
/JoinFS/JoinFS-FS2020/FS2020/bin/x64/Debug
/JoinFS/JoinFS-FS2020/obj/x64/Debug
/JoinFS/JoinFS-FSX/FSX/bin/x64/Debug
/JoinFS/JoinFS-FSX/obj/x64/Debug
/JoinFS/JoinFS-P3D/obj/x64/Debug
/JoinFS/JoinFS-P3D/P3D/bin/x64/Debug
/JoinFS/JoinFS-P3D/obj/x86/Release
/JoinFS/JoinFS-MSFS2024.pfx
/JoinFS/JoinFS-XPLANE/obj/x64/Debug
/JoinFS/JoinFS-XPLANE/XPLANE/bin/x64/Debug
/JoinFS/JoinFS-FS2020/FS2020/bin/x64/Release
/JoinFS/JoinFS-FS2020/Installer/Release
/JoinFS/JoinFS-FS2020/obj/x64/Release
/JoinFS/JoinFS-FS2024/FS2024/bin/x64/Release
/JoinFS/JoinFS-FS2024/obj/x64/Release
/JoinFS/JoinFS-FSX/obj/x64/Release
/JoinFS/JoinFS-P3D/obj/x64/Release
/JoinFS/JoinFS-XPLANE/obj/x64/Release
/JoinFS-XP/JoinFS-XP64/x64/Debug
/JoinFS/JoinFS-P3D/P3D/bin/x64/Release
/JoinFS/JoinFS-FS2020/.vs
/JoinFS/JoinFS-FS2024/.vs
/JoinFS/JoinFS-FS2024/Installer/Release
/JoinFS/JoinFS-FSX/.vs
/JoinFS/JoinFS-P3D/.vs
/JoinFS/JoinFS-XPLANE/.vs
/JoinFS/JoinFS-CONSOLE/CONSOLE/obj/Debug/net6.0
/JoinFS/JoinFS-CONSOLE/obj
/JoinFS/JoinFS-CONSOLE/CONSOLE/bin/Debug/net8.0
/JoinFS/JoinFS-CONSOLE/CONSOLE/obj/Debug
/JoinFS/JoinFS-CONSOLE/CONSOLE/bin/Debug
/.vs/JoinFS/FileContentIndex
