name: Build JoinFS test

on:
  workflow_dispatch:

jobs:

  build:

    strategy:
      matrix:
        configuration: [FS2024, FS2020]

    runs-on: windows-latests

    env:
      Solution_Name: JoinFS.sln
      Test_Project: JoinFS.Tests\JoinFS.Tests.csproj
      App_Project: JoinFS\JoinFS.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          
      # Install WiX Toolset 6
      - name: Install WiX Toolset
        run: dotnet tool install --global wix --version 6.0.2
      
      - run: echo ${{ matrix.configuration }}



