name: Build JoinFS test

on:
  workflow_dispatch:

jobs:

  build:

    strategy:
      matrix:
        configuration: [FS2024, FS2020]

    runs-on: self-hosted

    env:
      Solution_Name: JoinFS.sln
      Test_Project: JoinFS.Tests\JoinFS.Tests.csproj
      App_Project: JoinFS\JoinFS.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: Install .NET Core
#        uses: actions/setup-dotnet@v4
#        with:
#          dotnet-version: 8.0.x
          
#      - name: Install WiX Toolset
#        run: dotnet tool install --global wix --version 6.0.2
      
#      - name: Setup MSBuild.exe
#        uses: microsoft/setup-msbuild@v2

      - name: Execute unit tests
        run: dotnet test ${env:Test_Project}

      - name: Restore NuGet packages
        run: dotnet restore ${env:Solution_Name} /p:Configuration=${{ matrix.configuration }}

      - name: Build App Variants
        run: dotnet build ${env:App_Project} -c ${{ matrix.configuration }} --no-restore

      - name: Build Installers
        run: |
          cd JoinFS\Installer\
          dotnet build JoinFS.wixproj -c ${{ matrix.configuration }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: JoinFS-${{ matrix.configuration }}
          path: JoinFS\Installer\bin\${{ matrix.configuration }}\*
          retention-days: 2

