name: Build JoinFS test

on:
  workflow_dispatch:

jobs:

  build:

    strategy:
      matrix:
        configuration: [FS2024, FS2020, FSX, P3D, XPLANE, CONSOLE]

    runs-on: windows-latests

    steps:
      - run: dotnet restore JoinFS.sln /p:Configuration=${{ matrix:configuration }}



