name: Build JoinFS test

on:
  workflow_dispatch:

jobs:

  build:

    strategy:
      matrix:
        configuration: [FS2024, FS2020]

    runs-on: windows-latests

    env:
      Solution_Name: JoinFS.sln
      Test_Project: JoinFS.Tests\JoinFS.Tests.csproj
      App_Project: JoinFS\JoinFS.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - run: echo ${{ matrix.configuration }}



